.box{
    position: absolute;
    top: 160px;
    left: 146px;
    width: 80px;
    height: 104px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 3px solid #1A75FF;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.ava{ 
    position: absolute;
    top: 285px;
    left: 150px;
border-radius: 8px;
    width: 80px;
height: 104px;
flex-shrink: 0;
    border-radius: 8px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.avatar{ 
    position: absolute;
    top: 400px;
    left: 150px;
border-radius: 8px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.Big{
    position: absolute;
    top: 160px;
    left: 250px;
    width: 494px;
height: 632px;
flex-shrink: 0;
    border-radius: 8px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;

}
.ss{
    position: absolute;
    top: 190px;
    left: 790px;
    width: 494px;
 color: #1A75FF;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Merriweather;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.qq h1{
    position: absolute;
    top: 190px;
    left: 790px;
    width: 533px;
    height: 120px;
    flex-shrink: 0;
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}
.cc p{
    position: absolute;
    top: 320px;
    left: 795px;
    width: 533px;
    color: rgba(0, 0, 0, 0.60);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Merriweather;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.dd{ 
    position: absolute;
    top: 420px;
    left: 795px;
    color: #000;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Merriweather;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
span{
    position: absolute;
    top: 13px;
    left: 130px;
    color: #1a76ffb6;
    background-color: #1a76ff58;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Merriweather;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 5px;
}

.az{
    text-align: center;
    
}
.aa{
    position: absolute;
    top: 660px;
    left: 795px;
    background-color: aliceblue;
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Merriweather;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    }
.as{
    position: absolute;
    top: 661px;
    left: 830px;
    color: white;
    background-color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    }
   .ax{ position: absolute;
    top: 660px;
    left: 867px;
    background-color: aliceblue;
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Merriweather;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    }
 .aq{
    position: absolute;
    top: 660px;
    left: 896px;
    background-color: aliceblue;
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Merriweather;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    }
    .aw{
        position: absolute;
        top: 660px;
        left: 940px;
        background-color: aliceblue;
        color: #000;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Merriweather;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        }
     .ll{ position: absolute;
        top: 620px;
        left: 800px;
        color: #000;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Merriweather;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
     }
    
.zz{
 left: 800px; 
top: 470px; 
position: absolute;
 color: rgba(0, 0, 0, 0.32);
font-size: 18px;
font-family: Merriweather;
font-weight: 700;
text-decoration: line-through;
word-wrap: break-word
}
button{
    left: 800px; 
top: 700px; 
position: absolute;
    display: flex;
width: 533px;
padding: 16px 4px;
justify-content: center;
align-items: center;
gap: 10px;
background-color: blue;
color: aliceblue;
}
    