.aa{
    justify-content: start;
    margin-left: 64px;
    margin-top: 27px;
    display: flex;
    color: #212121;
    font-family: Moul;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.s{
    display: flex;
    justify-content: center;
    margin-right: 230px;
    margin-top: -20px;
    color: #212121;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.ss{
    display:flex;
    justify-content: center;
    margin-top: -23px;
    margin-left: 65px;
    color: #212121;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.sss{
    display:flex;
    justify-content: center;
    margin-top: -23px;
    margin-left: 400px;
    color: #212121;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.ssss{
     display:flex;
    justify-content: center;
}
