body {
    display: flex;
    width: 1512px;
    height: 982px;
    padding: 70px 448px 71px 448px;
    justify-content: center;
    align-items: center;
    background: var(--Indygo---200, #8C9EFF);
}
body.dark {
    background: #a1baff;
  }
body.light {
    background: #e3e3e3;
}

/* Calculator Box */
.calculator {
    width: 616px;
    height: 841px;
    flex-shrink: 0;
    padding: 20px;
    border-radius: 24px;
    background: var(--Calcucator---Background, #202128);
    
    /* box-shadow */
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

body.light .calculator {
    background: #ffffff;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: #fff;
}

body.light .top-bar {
    color: #000;
}

.theme-toggle {
    background: #2d2d3a;
    border-radius: 20px;
    padding: 4px 10px;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.theme-toggle span {
    opacity: 0.3;
    transition: 0.3s;
}

body.light .sun {
    opacity: 1;
    border: 2px solid #8a2be2;
    border-radius: 6px;
}

body.dark .moon {
    opacity: 1;
    border: 2px solid #8a2be2;
    border-radius: 6px;
}

/* Display */
.title{
    font-size: 23px;
font-style: normal;
font-weight: 500;
}
/* Display */
.display {

    text-align: right;
    font-size: 2.5em;
    color: white;
    padding: 10px 0;
    margin-bottom: 15px;
  }
  
  body.light .display {
    color: black;
    border-color: #ccc;
  }

.box{
    width: 616px;
height: 552px;
flex-shrink: 0;   
 border-radius: 24px;

margin-top: 190px;
}
/* Buttons Grid */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
align-items: center;
}
.btn {
    background: #2d2d3a;
    color: white;
    padding: 21px;
    font-size: 33px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 6px #1b1b2b;
    cursor: pointer;
    transition: 0.2s;
font-style: normal;
font-weight: 500;
line-height: 52.8px; /* 160% */
letter-spacing: 0.25px;
}

.btn.func {
    color: var(--Blue---200, #90CAF9);
 
   
    /* Inter - Headline Medium */
    font-family: Inter;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 52.8px; /* 160% */
    letter-spacing: 0.25px;

}

body.light .btn {
    background: #f0f0f0;
    color: #222;
  }
  
  body.light .btn:hover {
    background: #ddd;
  }
.btn.operator {
    color: #ff6e6e;
    font-size: 40px;
}

.equal {
    background: #ff6f61;
    color: white;
}

body.light .equal {
    background: #ff9f91;
    color: white;
    font-size: 40px;
}

.zero {
    grid-column: span 2;
}

