main {
    max-width: 1440px;
    height: 100vh;
    background: #D1FFDB;
    position: relative;
}

.task-container {
    width: 490px;
    height: 403.5px;
    flex-shrink: 0;
    border-radius: 48px;
    background: #FFF;
    position: absolute;
    bottom: 77.5px;
    left: 230px;
}

p.task-date {
    color: #212121;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 22px;
    padding-left: 24px;
}

.task-container .task {
    display: flex;
    gap: 16px;
    margin-left: 24px;
    align-items: center;
    position: relative;
}

.task .todo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.todo .name {
    color: #212121;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.todo .time {
    color: rgba(33, 33, 33, 0.80);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.task .icon {
    position: relative;
}

.task .icon .check {
    width: 16.754px;
    height: 12.575px;
    flex-shrink: 0;
    position: absolute;
    top: 10.01px;
    left: 7.83px;
}

.task .icon .inner-circle {
    position: absolute;
    top: 5px;
    left: 4px;
    width: 24px;
    height: 24px;
}

.tasks {
    display: flex;
    gap: 41px;
    flex-direction: column;
}

.line {
    position: absolute;
    top: 37px;
    left: 15px;
    height: 53px;
    border-left: 1px dotted black;
    transform: rotate(180deg);
}
.todo .box{
    position: relative;
}
.box{
    position: absolute;
    width: 80px;
height: 80px;
flex-shrink: 0;
border-radius: 16px;
background: #F1FF50;
left: 386px;
bottom: 32px;
}
.box .boxs{
   position: absolute;
   top: 24px;
   left: 24px;
}